<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <style>
        .red {
            color: red;
        }

        .font-bold {
            font-weight: bold;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue 사용 -->
</head>

<body>
    <div id="app">
        <!-- [v-if, v-else-if, v-else] 조건문 / 초기 조건에 따라 렌더링 (토글 비용 ↑) -->
        <!-- [template] 조건문을 한꺼번에 적용하고 싶을 때 사용 -->
        <!-- <template v-if="number === 1">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </template>
        <div v-else-if="number === 2">Hi</div>
        <div v-if="show">Yes</div>
        <div v-else="show">No</div> -->

        <!-- [v-show] 초기 조건에 관계 없이 항상 렌더링 (초기 렌더링 비용 ↑) -->
        <div v-show="show">Yes</div><br>
        <button @click="toggle">Toggle</button>

        <!-- 자주 바뀌면 v-show, 조건이 바뀌지 않으면 v-if 사용 -->
    </div>
    <script>
        // vue 인스턴스 생성
        new Vue({
            el: '#app',
            data: {
                number: 1,
                show: false
            },
            methods: {
                increase() {
                    this.number++
                },
                toggle() {
                    this.show = !this.show
                }
            }
        })
    </script>
</body>

</html>